{% extends 'master.html' %}
{% load static %}
{% block content %}
	<!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us section-bg my-5">
            <div class="container-fluid" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("{% static 'img/why-us.jpg' %}");' data-aos="zoom-in" data-aos-delay="100">
                        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
                    </div>

                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                        <div class="content">
                            <h3>About DonateCoin</h3>
                            <h3>Our Story</h3>
                            <p>
                                At DonateCoin, our story is woven with compassion, dedication,
                                and a shared commitment to make the world a better place. Founded in 2023,
                                we embarked on a journey fueled by the belief that small acts of kindness can create
                                significant ripples of change.
                            </p>
                        </div>

                        <div class="accordion-list">

                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <h3>Our Mission</h3>
                                <p>
                                    DonateCoin
                                    is on a mission to help the needy. We envision a world where we will be able to
                                    help the needy easily and in a secure manner.
                                    With unwavering determination, we work towards this goal every day.

                                </p>
                            </div>




                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>




                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>



                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Why Us Section -->

{% endblock %}