{% extends 'master.html' %}
{% load static %}
{% block content %}
    <body>

    <!-- ======= Header ======= -->


    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(../static/img/donate1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>DonateCoin</span></h2>
                            <h2 class="animate__animated animate__fadeInDown">Beacon of Hope</h2>
                            <p class="animate__animated animate__fadeInUp">Watch as a spark of light grows into a radiant beacon,
                                illuminating the path toward positive change. This platform embodies the hope and resilience
                                that your support brings to individuals and communities in need.</p>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(../static/img/donate1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Circle of Compassion</h2>
                            <p class="animate__animated animate__fadeInUp">Step into the "Circle of Compassion," where every act of kindness creates a ripple effect. Visualize the interconnectedness of our shared humanity as circles of compassion expand and overlap.</p>

                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(../static/img/donate1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Wings of Empowerment</h2>
                            <p class="animate__animated animate__fadeInUp">Experience the "Wings of Empowerment", depicting the transformative
                                journey of empowerment. Watch as wings unfurl, representing the newfound strength and opportunities
                                that your support provides.</p>

                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- End Hero -->

    <main id="main">



        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us section-bg my-5">
            <div class="container-fluid" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("../static/img/why-us.jpg");' data-aos="zoom-in" data-aos-delay="100">
                        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
                    </div>

                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                        <div class="content">
                            <h3>About DonateCoin</h3>
                            <h3>Our Story</h3>
                            <p>
                                At DonateCoin, our story is woven with compassion, dedication,
                                and a shared commitment to make the world a better place. Founded in 2023,
                                we embarked on a journey fueled by the belief that small acts of kindness can create
                                significant ripples of change.
                            </p>
                        </div>

                        <div class="accordion-list">

                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <h3>Our Mission</h3>
                                <p>
                                    DonateCoin
                                    is on a mission to help the needy. We envision a world where we will be able to
                                    help the needy easily and in a secure manner.
                                    With unwavering determination, we work towards this goal every day.

                                </p>
                            </div>




                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>




                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>



                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Why Us Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg my-5 justify-content-center">
            <div class="container justify-content-center" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div class="row">

                   <!--  <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box">
                                    <i class="bx bx-map"></i>
                                    <h3>Our Address</h3>
                                    <p>A108 Adam Street, New York, NY 535022</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>info@example.com<br>contact@example.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Call Us</h3>
                                    <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                                </div>
                            </div>
                        </div>

                    </div>
-->
                    <div class="col-lg-6">
                        <form action="{% url 'contact-url' %}" method="post" role="form" class="php-email-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->

{% endblock %}